{{# each products }}
    <div class="row">
        {{# each this }}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-img-top">
                        <img class="w-auto d-block mx-auto mt-4"
                             src="{{ this.imagePath }}"
                             alt="Stalker">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ this.title }}</h5>
                        <p class="card-text description">{{ this.description }}</p>
                        <div>
                            <div class="price float-left">${{ this.price }}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right">Add to shopping cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
